<!DOCTYPE html>
<html>
<head>
    <title> Login </title>
    <link rel="stylesheet" href="static/style.css"/>
</head>
<body>
    <center> <h1> Login Page </h1> </center>
    <form>
        <div class="container">
            <label>Username : </label>
            <input type="text" placeholder="Username" name="username" required>
            <label>Password : </label>
            <input type="text" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
            <input type="checkbox" checked="checked"> Save Information
            <button type="button" class="registerbtn"> Register </button>
            Forgot <a href="#"> password? </a>
        </div>
    </form>
</body>
</html>